# Node.js
node_modules/
npm-debug.log*

# Dependency directories
jspm_packages/
typings/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log
npm-debug.log*

# Tests
test/

# Build files
dist/
build/